- Effect version is 3.12.10
- The github repo for effect at version 3.12.10 is https://github.com/Effect-TS/effect/tree/b8ff1e69e8d5a8990804f7a7fff2744f01632a69
- The documentation for effect is at https://effect.website/docs
- Schema in effect is quite different from other javascript validation libraries so consult the schema documentation.
- Schema documentation defining schema, inferring types, decoding, encoding: https://effect.website/docs/schema/getting-started/
- Schema documentation for basic usage including built-in schemas for common primitive types: https://effect.website/docs/schema/basic-usage/
- Schema documentaton for filters: https://effect.website/docs/schema/filters/
- Schema documentation for transformations: https://effect.website/docs/schema/transformations/
- Schema documentation for advanced usage including branded types, optionals, and extending schemas: https://effect.website/docs/schema/advanced-usage/
- Layer documentationt: https://effect.website/docs/requirements-management/layers
- Layer api: https://effect-ts.github.io/effect/effect/Layer.ts.html
